*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    max-width: 1524px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 12px;
    padding-right: 12px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    max-width: 1164px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}
img{
    max-width: 100%;
    max-height: 100%;
}
a{
    color: inherit;
    text-decoration: inherit;
}
li{
    list-style: none;
}
input,
button{
    border: none;
    outline: none;
}

.title__description{
    text-align: center;
    font-size: 16px;
    color: #3858D6;
}

.title{
    text-align: center;
    font-size: 36px;
    color: #1E1D1D;
    margin-bottom: 65px;
}

body{
    height: 500vh;
}

.sidebar{
    position: fixed;
    right: -300px;
    top: 0;
    width: 300px;
    height: 500px;
    background: white;
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../assets/Section\ 1.png") no-repeat center/cover;
    button{
        position: absolute;
        bottom: 460px;
        left: 0;
        width: 30px;
        height: 30px;
    }
    .navbar__lists{
        display: flex;
        flex-direction: column;
        gap: 30px;
        text-align: center;
        font-size: 32px;
        color: white
        
    }
}
.sidebar.show {
    right: 0;
}
  